nav {
    border-bottom: 1px solid #F5943A;
    width: 100%;
}

.navbar-content {
    display: flex;
    align-items: center;
    width: 92%;
    margin-left: 4%;
}

.body {
    background-color: #F8F9FA;
}

.first-main-content {
    width: 90%;
    margin: 0 auto;
    padding: 3% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.first-text-content {
    flex: 0 0 60%;
    max-width: 50%;
}

.content-image {
    flex: 0 0 40%;
    max-width: 50%;
    border-radius: 25px;
    opacity: 1;
}

h1 {
    color: #072739;
}

h6 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-figtree);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072739);
    text-align: left;
    font: normal normal medium 16px/19px Figtree;
    letter-spacing: 0px;
    color: #072739;
    text-transform: uppercase;
    opacity: 1;
}

.desktop-logo {
    width: 111px;
    height: 64px;
    opacity: 1;
}

.navbar-items {
    color: #072739;
    height: 18px;
    font: normal normal medium 15px/18px Figtree;
    letter-spacing: 0px;
    color: #808185;
    opacity: 1;
    text-align: left;
}

.last-navbar-item {
    height: 18px;
    font: normal normal medium 15px/18px Figtree;
    font-weight: 400;
    letter-spacing: 0px;
    color: #072739;
    background: #D9EBF6;
    border-radius: 18px;
    opacity: 1;
}

.last-navbar-item .nav-link {
    padding: 5px 10px;
    line-height: 18px;
    display: inline-block;
}

p {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-figtree);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-808185);
    text-align: left;
    font: normal normal normal 18px/27px Figtree;
    letter-spacing: 0px;
    color: #808185;
    opacity: 1;
}

.orange-button {
    color: white;
    background: #F5943A;
    border-radius: 18px;
    opacity: 1;
    border: 10px solid #F5943A;
    padding: 5px 10px;
    line-height: 18px;
    display: inline-block;
}

.second-main-content {
    width: 100%;
    height: 550px;
    background-color: #072739;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

.orange-link {
    color: #F5943A;
    font-weight: bold;
    margin-left: 5%;
}

.card-title {
    margin-left: 5%;
    color: #072739;
}

.card-image {
    width: 119px;
    height: 119px;
    position: absolute;
    top: -23%;
    left: 20%;
    transform: translateX(-50%);
}

.card {
    position: relative;
    top: 100px;
    width: 30%;
    height: 277px;
    justify-content: center;
    text-align: left;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    margin-right: 3%;
}

.card-description {
    margin-left: 5%;
    margin-right: 5%;
}

.third-main-content {
    width: 100%;
    height: 550px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

.fourth-main-content {
    width: 100%;
    height: 40%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

.brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
    margin-right: 3%;
    margin-top: 5%;
}

.fifth-main-content {
    width: 100%;
    height: 550px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

.features {
    list-style-image: url('../images/tick.svg');
}

.AC-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-right: 3%;
    list-style-type: none;
}

.AC-card {
    position: relative;
    top: 100px;
    width: 30%;
    height: 50%;
    justify-content: center;
    text-align: left;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
}

.AC-card-image {
    width: 100%;
    height: 70%;
    position: relative;
    border-radius: 20px;
    top: -23%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10%;
}

.price-container {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 10%;
}

.price-container p {
    margin: 0 0 0 5px;
}

.AC-orange-button {
    color: white;
    background: #F5943A;
    border-radius: 25px;
    opacity: 1;
    border: 10px solid #F5943A;
    padding: 5px 10px;
    line-height: 18px;
    display: inline-block;
    margin: 5%;
}

.previous-button,
.next-button {
    border: none;
    background-color: transparent;
}

.sixth-main-content {
    justify-content: center;
    padding-top: 8%;
    margin-top: 12%;
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
}

.help-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    margin-right: 3%;
    list-style-type: none;
    margin-top: 5%;
}

.help-card {
    position: relative;
    width: 410px;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
    padding: 20px;
    color: white;
    overflow: hidden;
}

.help-card::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0), rgb(16, 44, 60));
    border-radius: 20px 20px 0 0;
    z-index: 1;
}

.help-card-title,
.help-card-description {
    position: relative;
    z-index: 2;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.seventh-main-content {
    width: 100%;
    text-align: center;
    padding: 0px;
}

.seventh-inner-content {
    width: 100%;
    list-style-type: none;
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2%;
}

.family-house-card-text {
    background-color: #072739;
    border-radius: 20px;
    padding: 20px;
    color: white;
    flex: 1;
    text-align: left;
}

.family-house-card-image-container {
    justify-content: center;
    flex: 3;
    align-items: center;
    border-radius: 20px; /* Add border-radius to match the card */
}

.family-house-card-image {
    justify-content: center;
    border-radius: 20px; /* Add border-radius to match the card */
}

.lightblue-button {
    color: #072739;
    background: rgb(224, 236, 244);
    border-radius: 20px;
    align-self: flex-start; /* Align button to the start of the column */
}
